// Colors
$primary: #16BBA3;
$watch: #FBC105;
$buy: #A1D32B;
$read: #F4554B;
$eat: #2060E9;
$background: #FBF6F0;
$heading-color: #313346;
$text-light: #FFF;
$text-dark: #000;

// Fonts
$heading-font: 'Shrikhand', cursive;
$text-font: 'Chivo', sans-serif;
