@import "_variables";

#funsie-list {
  h2 {
    color: $heading-color;
    font-family: $heading-font;
    font-size: 44px;
    margin-bottom: 0px;
  }

  form {
    width: 90%;

    fieldset {
      border: none;
      display: flex;
      justify-content: space-between;

      input {
        outline: none;
        accent-color: $heading-color;
        margin-left: 2em;
      }

      label {
        font-family: $text-font;
        font-size: 20px;
        padding-left: 1.2em;

        &.done {
          color: rgb(192, 192, 192);
          text-decoration: line-through;
        }
      }

      select {
        outline: none;
        border-radius: 15px;
        width: 150px;
        text-align-last: center;
        background-color: white;
        &.read {
          background-color: $read;
        }
        &.watch {
          background-color: $watch;
        }
        &.eat {
          background-color: $eat;
        }
        &.buy {
          background-color: $buy;
        }

        option {
          &.read {
            background-color: $read;
          }
          &.watch {
            background-color: $watch;
          }
          &.eat {
            background-color: $eat;
          }
          &.buy {
            background-color: $buy;
          }
        }
      }

    }
  }
}
