@import "_variables";

#funsie-list {
  h2 {
    color: $heading-color;
    font-family: $heading-font;
    font-size: 44px;
    margin-bottom: 0px;
  }

  form {
    width: 90%;

    fieldset {
      border: none;
      display: flex;
      justify-content: space-between;

      input {
        outline: none;
        accent-color: $heading-color;
        margin-left: 2em;
      }

      label {
        font-family: $text-font;
        font-size: 20px;
        padding-left: 1.2em;
      }

      select {
        outline: none;
        border-radius: 15px;
        width: 150px;
        text-align-last: center;
        background-color: white;
      }

      select option[value="watch"] {
        background: $watch;
      }

      select option[value="read"] {
        background: $read;
      }

      select option[value="eat"] {
        background: $eat;
      }

      select option[value="buy"] {
        background: $buy;
      }

      .colourwatch {
        background-color: $watch;
      }

      .colourread {
        background-color: $read;
      }

      .coloureat {
        background-color: $eat;
      }

      .colourbuy {
        background-color: $buy;
      }
    }
  }
}
