@import "_variables";

nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: $primary;
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

#logo {
  display: inline-block;
  margin-left: 3em;
  
  img {
    width: 300px;
  }
}


#nav-links {
  display: inline-block;
  width: 40%;
  justify-content: space-between;

  a {
    text-decoration: none;
    padding: 0.5em;
    margin-right: 1em;
    color: $text-light;
    line-height: 40px;
    font-family: $text-font;

    &:hover {
      justify-content: center;
      width: 50px;
      height: 80px;
      border-radius: 48px;
      background: #FFF;
      color: $primary;
    }
  }
}