@import "_variables";

nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: $primary;
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

#logo {
  font-family: $heading-font;
}

#nav-links {
  display: flex;
  width: 40%;
  color: $text-light;
  font-family: $text-font;
  justify-content: space-between;
}
