@import "_variables";

#funsie-form {
  display: flex;
  justify-content: start;
  flex-direction: column;
  font-family: $text-font;
  font-size: 20px;

  a {
    color: $primary;
    font-family: $text-font;
    text-decoration: none;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    height: 200px;
    border-radius: 15px;
    border: 2px solid $text-light;
    margin-top: 8px;

    input {
      color: $primary;
      width: 90%;
      height: 55px;
      border-radius: 15px;
      border: 2px solid $text-light;
      padding-left: 25px;
    }

    input:focus {
      outline: none;
    }

    footer {
      display: flex;
      width: 90%;
      align-items: end;
      justify-content: end;
      padding-top: 1em;

      button {
        color: $text-light;
        border-radius: 25px;
        border: 3px solid $text-light;
        background-color: $primary;
        margin-left: 1em;
        font-size: 15px;
        padding: 10px 15px;
        width: 120px;
      }

      button:hover {
        color: $primary;
        background-color: $text-light;
      }
    }
  }
}
